<!-- Title -->
<title ng-bind="title"></title>

<!-- Header -->
<div ng-include="'templates/partial/header-view.html'"></div>

<div class="container" ng-if="!isLoggedIn">
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    Welcome to
                    <strong>Pigeon</strong>
                </h2>
                <hr>
            </div>
            <div class="col-md-6">
                <img class="img-responsive img-border-left" src="imgs/pigeon.jpg" alt="">
            </div>
            <div class="col-md-6">
                <p>This is a free social network website designed by Team "Blush" at <a href="https://softuni.bg/">Software University</a></p>
                <p>You can follow friends and post pigeons on your own wall. You must register or login for continue.</p>
                <div class="row">
                    <div class="form-group col-lg-4 col-lg-offset-4">
                        <a href="#/login" type="button" class="btn btn-default">Login</a>
                        <a href="#/register" type="button" class="btn btn-default">Register</a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<!-- Footer -->
<div ng-include="'templates/partial/footer-view.html'"></div>