<div class="row" ng-repeat="pigeon in pigeonsData" ng-init="loadPigeonComments(pigeon)">
    <h4>
        {{pigeon.title}}
    </h4>
    <img class="img-responsive img-border img-full" ng-src="{{pigeon.photoData}}">

    <div class="row">
        <p>{{pigeon.content}}</p>
        <small>{{pigeon.createdOn}}</small>
    </div>

    <div class="row">
        <p>{{pigeon.favouritedCount}} Favourite {{pigeon.comments.length}} Comments</p>
        <p>{{pigeon.upVotesCount}} Votes+ {{pigeon.downVotesCount}} Votes-</p>
        <p>
            <button type="button" class="btn btn-default btn-lg" ng-if="!pigeon.favourited" ng-click="favourite(pigeon)">
                <div class="glyphicon glyphicon-star-empty"></div>
            </button>
            <button type="button" class="btn btn-default btn-lg" ng-if="pigeon.favourited" ng-click="unfavourite(pigeon)">
                <div class="glyphicon glyphicon-star"></div>
            </button>
            <button type="button" class="btn btn-default btn-lg" ng-if="pigeon.voted == 0 || pigeon.voted == -1" ng-click="voteUp(pigeon)">
                <div class="glyphicon glyphicon-chevron-up"></div>
            </button>
            <button type="button" class="btn btn-default btn-lg" ng-if="pigeon.voted == 0 || pigeon.voted == 1" ng-click="voteDown(pigeon)">
                <div class="glyphicon glyphicon-chevron-down"></div>
            </button>
            <button type="button" class="btn btn-default btn-lg" ng-click="expandCreateComment(pigeon.id)">
                <div class="glyphicon glyphicon-comment"></div>
            </button>
            <button type="button" class="btn btn-default btn-lg" ng-if="pigeon.author.username == myData.username" ng-click="expandEditPigeon(pigeon.id)">
                <div class="glyphicon glyphicon-edit"></div>
            </button>
            <button type="button" class="btn btn-default btn-lg" ng-if="pigeon.author.username == myData.username" ng-click="deletePigeon(pigeon)">
                <div class="glyphicon glyphicon-remove"></div>
            </button>
        </p>
    </div>

    <div class="row" ng-if="isEditPigeonExpanded && pigeon.id == expandEditPigeonsPigeonId">
        <div class="col-lg-12 text-center">
            <form role="form">
                <div class="row">
                    <div class="form-group col-lg-12">
                        <label>Message</label>
                        <textarea class="form-control" rows="3" ng-model="pigeon.content"></textarea>
                    </div>
                    <div class="form-group col-lg-12">
                        <button type="button" class="btn btn-default" ng-click="editPigeon(pigeon)">Edit Pigeon</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row" ng-if="isCreateCommentExpanded && pigeon.id == expandCommentsPigeonId">
        <form role="form">
            <div class="row">
                <div class="form-group col-lg-12">
                    <label>Comment</label>
                    <textarea class="form-control" rows="3" ng-model="commentData.content"></textarea>
                </div>
                <div class="form-group col-lg-12">
                    <button type="submit" class="btn btn-default" ng-click="createComment(pigeon)">Comment</button>
                </div>
            </div>
        </form>
        <hr />
        <div class="row" ng-repeat="comment in pigeon.comments track by $index">
            <div class="row">
                <div class="col-lg-4">
                    <img class="img-small" ng-src="{{comment.author.profilePhotoData}}" />
                    <p>{{comment.author.username}}</p>
                </div>
                <div class="col-lg-4">
                    <p>{{comment.content}}</p>
                    <div class="row" ng-if="isEditCommentExpanded && expandEditCommentsCommentId == comment.id">
                        <textarea type="text" rows="3" class="form-control" ng-model="editCommentData.content"></textarea>
                        <button type="button" class="btn btn-default" ng-click="editComment(pigeon, comment)">Edit</button>
                    </div>
                </div>
                <div class="col-lg-4">
                    <button type="button" class="btn btn-default" ng-if="comment.author.username == myData.username" ng-click="expandEditComment(comment)">Edit</button>
                    <button type="button" class="btn btn-default" ng-if="comment.author.username == myData.username" ng-click="deleteComment(pigeon, comment)">Delete</button>
                </div>
            </div>
            <div class="row">
                <hr />
            </div>
        </div>
    </div>
</div>
